<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>Foster uses your contacts to import a person you want to keep in touch with.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>GIDClientID</key>
	<string>874656360216-h79g2ccnq5t5sihsd8e4u7tpu22rg7k5.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.874656360216-h79g2ccnq5t5sihsd8e4u7tpu22rg7k5</string>
				<string>app.usefoster</string>
			</array>
		</dict>
	</array>
</dict>
</plist>